<%= bootstrap_form_for @post, html: {multipart: true} do |p| %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= p.file_field :image %>
</p>

<p>
  <%= p.text_field :caption, id: 'caption_text_field' %>
</p>


<p>
  <%= p.submit %>
</p>

<% end %>
